In [8]:
import pandas as pd

df = pd.read_csv('./acne_db/result_DB.csv', encoding='utf-8')
df

    부위    장기
0   이마  스트레스
1    코    비장
2   왼볼     간
3  오른볼     폐
4    턱    신장

In [14]:
# SQLite 엔진 생성
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session

engine = create_engine('sqlite:///acne.db', echo=True)

In [15]:
df.to_sql(
    name='acne_db',
    con=engine,
    if_exists='replace',
    index=False
)

2025-03-10 11:15:33,359 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-10 11:15:33,363 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("acne_db")
2025-03-10 11:15:33,365 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,368 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("acne_db")
2025-03-10 11:15:33,368 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,369 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-03-10 11:15:33,370 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,371 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-03-10 11:15:33,372 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,374 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("acne_db")
2025-03-10 11:15:33,375 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,378 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-03-10 11:15:33,378 INFO sqlalchemy.engine.Engine [raw sql] ('acne_db',)
2025-03-10 11:15:33,378 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("acne_db")
2025-03-10 11:15:33,378 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,378 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("acne_db")
2025-03-10 11:15:33,378 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,378 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-03-10 11:15:33,385 INFO sqlalchemy.engine.Engine [raw sql] ('acne_db',)
2025-03-10 11:15:33,387 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("acne_db")
2025-03-10 11:15:33,387 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,387 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_acne_db_index")
2025-03-10 11:15:33,387 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,387 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("acne_db")
2025-03-10 11:15:33,387 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,387 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_acne_db_index")
2025-03-10 11:15:33,387 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-10 11:15:33,387 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-03-10 11:15:33,387 INFO sqlalchemy.engine.Engine [raw sql] ('acne_db',)
2025-03-10 11:15:33,397 INFO sqlalchemy.engine.Engine
DROP TABLE acne_db
2025-03-10 11:15:33,397 INFO sqlalchemy.engine.Engine [no key 0.00088s] ()
2025-03-10 11:15:33,403 INFO sqlalchemy.engine.Engine
CREATE TABLE acne_db (
	"부위" TEXT,
	"장기" TEXT
)


2025-03-10 11:15:33,404 INFO sqlalchemy.engine.Engine [no key 0.00106s] ()
2025-03-10 11:15:33,409 INFO sqlalchemy.engine.Engine INSERT INTO acne_db ("부위", "장기") VALUES (?, ?)
2025-03-10 11:15:33,409 INFO sqlalchemy.engine.Engine [generated in 0.00106s] [('이마', '스트레스'), ('코', '비장'), ('왼볼', '간'), ('오른볼', '폐'), ('턱', '신장')]
2025-03-10 11:15:33,411 INFO sqlalchemy.engine.Engine COMMIT

5

In [16]:
with Session(engine) as session:
    result = session.execute(text("SELECT * FROM acne_db"))
    rows = result.fetchall()
    print(rows[:5])

2025-03-10 11:15:37,788 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-10 11:15:37,788 INFO sqlalchemy.engine.Engine SELECT * FROM acne_db
2025-03-10 11:15:37,790 INFO sqlalchemy.engine.Engine [generated in 0.00060s] ()
[('이마', '스트레스'), ('코', '비장'), ('왼볼', '간'), ('오른볼', '폐'), ('턱', '신장')]
2025-03-10 11:15:37,793 INFO sqlalchemy.engine.Engine ROLLBACK